{{ partial "header.html" . }}

<div class="fullscreen">
    <a href="{{ .Params.portfolio_url }}" title="View the website of {{ .Title }}" aria-label="View the website of {{ .Title }}">
        <div class="svg">
        <svg  version="1.1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="490.63" height="302.779" viewBox="0 0 490.63 302.779" overflow="visible" enable-background="new 0 0 490.63 302.779" xml:space="preserve" style="background: url('{{ .Params.mobile_image }}') 97.5% 48.6% / 28.5% auto no-repeat, url('{{ .Params.image }}') 47% 48% / 63% auto no-repeat;">
            <g id="Layer_2">
                <g>
                    <defs>
                        <rect id="XMLID_1_" y="5.667" width="340" height="295"/>
                    </defs>
                    <clipPath id="XMLID_3_">
                        <use xlink:href="#XMLID_1_" />
                    </clipPath>
                    <g clip-path="url(#XMLID_3_)">
                        <g>
                            <path d="M282,268.341c0,0-2.386,0.094-2.386,2s-2.398,2-2.398,2h-72.778c0,0-2.182-0.002-2.182-2s-1.88-2-1.88-2H2.477v2.172
                                c0,0,25.009,8.407,63.442,8.407s412.611,0,412.611,0v-10.579H282z M410.645,47.002c0-6.627-5.373-12-12-12H79.31
                                c-6.627,0-12,5.373-12,12v218.775h343.335V47.002z M240.666,41.833c1.104,0,2,0.896,2,2s-0.896,2-2,2s-2-0.896-2-2
                                S239.562,41.833,240.666,41.833z M394.416,246.833h-309v-195.5h309V246.833z" fill="{{ .Params.color }}"/>
                        </g>
                        <g>
                            <path d="M282,268.341c0,0-2.386,0.094-2.386,2s-2.398,2-2.398,2h-72.778c0,0-2.182-0.002-2.182-2s-1.88-2-1.88-2H2.477v2.172
                                c0,0,25.009,8.407,63.442,8.407s412.611,0,412.611,0v-10.579H282z M410.645,47.002c0-6.627-5.373-12-12-12H79.31
                                c-6.627,0-12,5.373-12,12v218.775h343.335V47.002z M240.666,41.833c1.104,0,2,0.896,2,2s-0.896,2-2,2s-2-0.896-2-2
                                S239.562,41.833,240.666,41.833z M394.416,246.833h-309v-195.5h309V246.833z" fill="#0000002e"/>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Layer_3">
                <g>
                    <g>
                        <path d="M412.133,272.501c-6.811,0-12.332,5.522-12.332,12.332s5.521,12.332,12.332,12.332c6.812,0,12.333-5.522,12.333-12.332
                            S418.944,272.501,412.133,272.501z M488.654,57h-0.021V17.333C488.633,7.76,480.872,0,471.3,0H352.966
                            c-9.572,0-17.333,7.76-17.333,17.333V57h-0.325c-1.091,0-1.976,0.884-1.976,1.976v20.086c0,1.091,0.885,1.976,1.976,1.976h0.325
                            v6.13h-0.325c-1.091,0-1.976,0.884-1.976,1.976v20.086c0,1.091,0.885,1.976,1.976,1.976h0.325v174.24
                            c0,9.572,7.761,17.334,17.333,17.334H471.3c9.572,0,17.333-7.762,17.333-17.334V81.038h0.021c1.091,0,1.976-0.884,1.976-1.976
                            V58.976C490.63,57.885,489.745,57,488.654,57z M397.133,15.75h30c0.736,0,1.333,0.597,1.333,1.333s-0.597,1.333-1.333,1.333h-30
                            c-0.736,0-1.333-0.597-1.333-1.333S396.396,15.75,397.133,15.75z M381.5,13.917c1.748,0,3.166,1.417,3.166,3.167
                            s-1.418,3.167-3.166,3.167c-1.749,0-3.167-1.417-3.167-3.167S379.751,13.917,381.5,13.917z M412.133,298.166
                            c-7.362,0-13.332-5.969-13.332-13.332s5.97-13.332,13.332-13.332c7.363,0,13.333,5.969,13.333,13.332
                            S419.496,298.166,412.133,298.166z M481.966,267.5H342.301V33h139.665V267.5z" fill="{{ .Params.color }}"/>
                        <path d="M412.133,272.501c-6.811,0-12.332,5.522-12.332,12.332s5.521,12.332,12.332,12.332c6.812,0,12.333-5.522,12.333-12.332
                            S418.944,272.501,412.133,272.501z M488.654,57h-0.021V17.333C488.633,7.76,480.872,0,471.3,0H352.966
                            c-9.572,0-17.333,7.76-17.333,17.333V57h-0.325c-1.091,0-1.976,0.884-1.976,1.976v20.086c0,1.091,0.885,1.976,1.976,1.976h0.325
                            v6.13h-0.325c-1.091,0-1.976,0.884-1.976,1.976v20.086c0,1.091,0.885,1.976,1.976,1.976h0.325v174.24
                            c0,9.572,7.761,17.334,17.333,17.334H471.3c9.572,0,17.333-7.762,17.333-17.334V81.038h0.021c1.091,0,1.976-0.884,1.976-1.976
                            V58.976C490.63,57.885,489.745,57,488.654,57z M397.133,15.75h30c0.736,0,1.333,0.597,1.333,1.333s-0.597,1.333-1.333,1.333h-30
                            c-0.736,0-1.333-0.597-1.333-1.333S396.396,15.75,397.133,15.75z M381.5,13.917c1.748,0,3.166,1.417,3.166,3.167
                            s-1.418,3.167-3.166,3.167c-1.749,0-3.167-1.417-3.167-3.167S379.751,13.917,381.5,13.917z M412.133,298.166
                            c-7.362,0-13.332-5.969-13.332-13.332s5.97-13.332,13.332-13.332c7.363,0,13.333,5.969,13.333,13.332
                            S419.496,298.166,412.133,298.166z M481.966,267.5H342.301V33h139.665V267.5z" fill="#0000002e"/>
                    </g>
                </g>
            </g>
        </svg>
        </div>
    </a>
</div>
<div id="scrolldown"></div>

<h1 class="large">{{ .Title }}</h1>

{{ .Content }}

<div class="threecols" style="padding-top: 1.1em;">
    <div>
        <h3 class="small">{{ i18n "google_score" }}</h3>
        <div class="medium">{{ .Params.google_score }}</div>
    </div>
    <div>
        <h3 class="small">{{ i18n "speed_index" }}</h3>
        <div class="medium">{{ .Params.speed_index }}</div>
    </div>
    <div>
        <h3 class="small">{{ i18n "page_weight" }}</h3>
        <div class="medium">{{ .Params.page_weight }}</div>
    </div>
</div>

<p style="padding-top: 1.4em;"><br /><a href="{{ .Params.portfolio_url }}" rel="noopener" target="_blank" class="btn">{{ i18n "view_project" }}</a></p>

{{ partial "footer.html" . }}