* {padding: 0; margin: 0; font-family: sans-serif; font-size: 18px; line-height: 1.4em; color: #333;}


@font-face {
    font-family: 'coderingRegular';
    src: url('codering-webfont.eot');
    src: url('codering-webfont.eot?#iefix') format('embedded-opentype'),
         url('codering-webfont.woff') format('woff'),
         url('codering-webfont.ttf') format('truetype'),
         url('codering-webfont.svg#coderingRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.box_shadow {
  -webkit-box-shadow: 0px 0px 4px #777; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 0px 4px #777; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 4px #777; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}
.ring_shadow {
  -webkit-box-shadow: 0px 2px 3px #693b31; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 2px 3px #693b31; /* FF3.5 - 3.6 */
          box-shadow: 0px 2px 3px #693b31; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}

body {
background: #ddd;
}
#page {
margin: 20px auto;
width: 800px;
height: 800px;
background: url('bg.gif') center center no-repeat;
}
#hand {
width: 800px;
height: 800px;
background: url('els.jpg') 240px bottom no-repeat;
}
h1 {font-size: 30px; font-weight: normal; padding: 10px 0 0 220px; color: silver;}
form{
padding: 10px 0 0 16px;
}
label {
display: block;
padding-top: 10px;
}
select {width: 174px;}
input {
width: 174px;
}
#ring {
position: absolute;
margin-top: 403px;
margin-left: 370px;
width: 76px;
}
#ring img{border-bottom: 1px solid #666; height: 2px;}
#ring #text {
font-family: 'coderingRegular'; 
top:0px;
position: absolute; 
width: 76px; 
overflow: hidden; 
height: 1.4em; 
color: #555;
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  opacity: .8;
}