@font-face {
    font-family: 'times_new_romanregular';
    src: url('/fonts/Times Roman.woff2') format('woff2'),
         url('/fonts/Times Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeout {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

* {margin: 0; padding: 0; font-weight: normal;}
body {background-attachment: fixed; color: rgba(255, 255, 255,0.8); font-family: 'times_new_romanregular', 'Times New Roman','Times',serif;}
#bananaleft, #bananaright {
    max-width: 650px!important; 
    pointer-events: none; 
    transition: transform 0.7s ease-in-out; 
    transform: translateX(-100%); 
    position: fixed; 
    width: 24vw!important; 
    left: 0; 
    top: calc(100px + 8vh); 
    height: calc(92vh - 100px); 
    opacity: 0.3; 
    z-index: 0;
    object-fit: cover; 
    object-position: 100% 0%;
}
#bananaright {left: auto; right: 0; object-position: 0% 0%; transform: translateX(100%);}
html.lightmode #bananaleft, html.lightmode #bananaright {opacity: 0.45;}
.loaded #bananaleft, .loaded #bananaright {transform: translateX(0%);}
.lightmode:not(.bgcolor) #bananaleft, .lightmode:not(.bgcolor) #bananaright {filter: contrast(0%) brightness(50%) sepia(100%) hue-rotate(188deg) saturate(700%);}
html.lightmode:not(.bgcolor) #innerbody {background-color: #dde;}
html.lightmode:not(.bgcolor) body {color: #0000ee;}
body, html {height: 100%;}
img {max-width: 100%;}
html {overflow-y: scroll; scroll-behavior: smooth; background: none;}
a {color: rgba(255, 255, 255,0.8); text-decoration-style: solid; /*solid dotted, dashed, and wavy*/ text-decoration-color: rgba(221,221,221,0.5);}
.lightmode:not(.bgcolor) a {color: #7600ee; text-decoration-color: rgba(0,0,238,0.5);}
#splash a {text-decoration-color: rgba(255, 255, 255,0.8); color: rgba(255, 255, 255,0.8);}
body.black a {color: black;}
#innerbody, #content .fullscreen, #splash {align-items: center; display: flex; justify-content: center; min-height: 100%; position: relative; z-index: 9;}
#innerbody {background: #7600ee; z-index: 8;}
#splash {background: #0000dd url(/img/lines3_3.svg); position: fixed; top: 0; left: 0; z-index: 21; width: 100%; pointer-events: none; color: rgba(255, 255, 255,0.8);
    animation-name: fadeout; 
    animation-delay: 1.3s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /*
    background: repeating-linear-gradient(-45deg, #7600ee, #7600ee 1.5rem, #2222f5 1.5rem, #2222f5 calc(1.5rem + 2px)),#7600ee;
    */
}
#splash > div:not(.line) {
    padding: 0 2rem 1rem 1.25rem;
    animation-name: fadeout; 
    animation-delay: 1s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: -2rem;
}
#splash .medium {display: inline-block; margin: 0 0.15em;}
#splash .medium span {display: inline-block; margin: 0 0.07em 0 0;}
#splash .medium span:first-child {margin-right: 0.1em;}
@media screen and (max-width: 600px) {
    #splash .medium {display: block; margin: 0.15em 0 0.15em 0.15em;}
    #splash > div {text-align: center;}
}


/* FONT SIZES */
body, .small {font-size: 1.5vw; line-height: 1.25;}
.posts #content > p:first-of-type, blockquote, .smallmedium {font-size: 2.1vw;}
blockquote {padding-left: 2.1vw;}
.medium, h1 {font-size: 5vw; line-height: 1.05;}
h1 {padding-bottom: 0.4em;}
h2 {padding-bottom: 0.6em; padding-top: 0.6em;}
h3 {padding-bottom: 0.6em; padding-top: 0.6em;}
.large {font-size: 10vw;}


#scrolltotop, #logo, #menu, #nextlink, #lightmode {position: fixed; top: 1.5vw; z-index: 12;}
#scrolltotop, #logo, #menu, #lightmode {text-transform: lowercase;}
#menu {right: 2vw; position: absolute; z-index: 11;}
#menu li {list-style: none; display: inline;}
#menu li a {display: inline-block; margin: 0 0 0 1.5vw;}
#logo {left: 2vw; top: 1.5vw; line-height: 1; display: block; border: 1px solid rgba(255, 255, 255,0.5); opacity: 0.8;}
html:not(.lightmode) #logo {mix-blend-mode: lighten;}
.lightmode #logo {opacity: 1; border: 1px solid rgba(0, 0, 238,0.5);}
#logo img {width: 3.35vw; vertical-align: top; display: block; opacity: 1;}
.bgcolor #logo {border: 1px solid rgba(255, 255, 255,0.4);}
.bgcolor #logo img, .lightmode #logo img {opacity: 0;}
.bgcolor #logo:before, .lightmode #logo:before {content: ""; width: 100%; height: 100%; background: url(/img/icon-196x196-transparent.png) center center / contain no-repeat; position: absolute;}
.lightmode:not(.bgcolor) #logo:before {background: url(/img/icon-196x196-transparent-blue.png) center center / contain no-repeat;}
#scrolltotop {top: auto; bottom: 1.7vw; right: 2vw; opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;}
#lightmode {top: auto; bottom: 1.7vw; right: 2vw; position: fixed; transition: opacity 0.3s ease-in-out; z-index: 10;}
#nextlink {top: auto; bottom: 1.7vw; left: 2vw; right: auto; position: absolute; max-width: calc(65% - 30px); text-transform: lowercase; z-index: 10;}
#nextlinktop, #prevlinktop {top:50vh; left: 2vw; position: fixed; transition: opacity 0.3s ease-in-out; opacity: 1; transform: rotate(-90deg) translateX(-50%); transform-origin: 0% 0%; z-index: 10;}
#nextlinktop {left: auto; right: 2vw; transform-origin: 100% 0%; transform: rotate(90deg) translateX(50%);}
#prevlink {display: none;}
.scrolled #lightmode {opacity: 0; pointer-events: none;}
.scrolled #scrolltotop {opacity: 1; pointer-events: all; z-index: 10;}
@media screen and (max-width: 1100px) {
    #nextlinktop, #prevlinktop {opacity: 0; pointer-events: none;}
}
.scrolled #scrolltotop {opacity: 1; pointer-events: all; white-space: nowrap;}
#content {width: 48%; text-align: left; margin: 0 auto; padding: 12vw 2vw 17vw;}
#content h1 {text-align: center; position: relative; z-index: 1;}
body:not(.home) #content h1 {padding-bottom: .7em;}
.home #content {width: 60%; text-align: center; padding-bottom: 12vw;}
#content p, #content ol, #content ul, #content table {padding-bottom: 1.25em;}
#content pre {max-width: calc(100% - 3rem); overflow: auto; font-size: 55%; margin-bottom: 2em; padding: 1rem; border: 1px solid rgba(255, 255, 255,0.4);}
.lightmode:not(.bgcolor) #content pre {border-color: rgba(0, 0, 238,0.4);}
blockquote {margin-top: 0.5em; border-left: 2px solid #dde; margin-bottom: 1.35em; padding-left: 2.1vw;}
.lightmode:not(.bgcolor) blockquote {border-left: 2px solid #00e;}
#content img {width: 100%; max-width: 100%; margin-bottom: 0.2em;}
#content p img {opacity: 0.85;}
#content ul {margin-left: 2em}
#content ol {margin-left: 2em;}
#content p:last-child {padding-bottom: 0;}
#content .fullscreen {width: 100%; left: 0; min-height: 100vh;}
.portfolios h1 {margin: 0 -15vw; padding: 0!important;}
.portfolios h1 + p {margin-top: 2em;}
.posts .fullscreen h1 {position: relative; margin: 0 -15vw; padding: 1.2em 0 1.4em!important;}
#content .fullscreen > a {display: block; margin: 175px 0 175px 0;}
.posts #content,
.portfolios #content {padding-top: 0;}
.portfolios #content .svg {width: 50vw;}
.portfolios #content .svg svg {width: 100%; height: 100%; position: relative; right: 2vw;}
#scrolldown {position: absolute; left: 50%; margin-top: -15vh;}
#scrolldown:before {content: "»"; transform: rotate(90deg); position: absolute; color: rgba(255, 255, 255,0.8); font-size: 10rem; margin-left: -1.25rem; margin-top: -5rem;}
.lightmode:not(.bgcolor) #scrolldown:before {color: #7600ee;}
#postdate {font-style: italic; padding-bottom: 1em;}
.btn {display: inline-block; padding: 0.35em 1em 0.45em; text-decoration: none; border: 1px solid rgba(255, 255, 255,0.4);}

.threecols {display: flex;}
.threecols > div {flex: 1 33.3%;}

a.video {position: relative; display: block;}
a.video img {display: block;}
a.video::after,
a.video::before {
    content: "";
    width: 5rem;
    height: 5rem;
    background: #7600ee;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
a.video::after {
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1.75rem solid rgba(255, 255, 255,0.8);
    border-radius: 0;
    margin-left: 0.25rem;
}

@media screen and (min-width: 2000px) {
    /* FONT SIZES */
    body, .small {font-size: 30px;} /*  0.015*2000  */
    .posts #content > p:first-of-type, blockquote, .smallmedium {font-size: 42px;} /*  0.021*2000  */
    blockquote {padding-left: 42px;}
    .medium, h1 {font-size: 100px;} /*  0.05*2000  */
    .large {font-size: 200px;} /*  0.1*2000  */
    .portfolios #content .svg,
    #content {width: 960px;} /*  0.48*2000  */
    .home #content {width: 1250px;} /*  0.6*2000  */
    #logo img {width: 67px;}
    #bananaleft, #bananaright {width: calc(50vw - 520px);}
}

@media screen and (max-width: 1600px) {
    /* FONT SIZES */
    body, .small {font-size: 24px;} /*  0.015*1600  */
    .posts #content > p:first-of-type, blockquote, .smallmedium {font-size: 34px;} /*  0.021*1600  */
    blockquote {padding-left: 34px;}
    .medium, h1 {font-size: 80px;} /*  0.05*1600  */
    .large {font-size: 160px;} /*  0.1*1600  */
    .portfolios #content .svg {width: calc(100vw - 75px); max-width: 800px;}
    #content {width: 768px;} /*  0.48*1600  */
    .home #content {width: 960px; padding-bottom: 192px;} /*  0.6*1600  */
    .portfolios h1, .posts .fullscreen h1 {margin: 0 -11vw;}

    #menu {right: 30px; top: 25px;}
    #logo {top: 25px;}
    #logo img {width: 54px;}
    #logo, #nextlink {left: 30px;}
    #scrolltotop, #lightmode {right: 30px;}
    #content {padding: 192px 30px 272px;}
    #scrolltotop, #nextlink, #lightmode {bottom: 25px;}
    #scrolldown:before {font-size: 8rem; margin-top: -4rem; margin-left: -1rem;}
    #bananaleft, #bananaright {width: calc(50vw - 424px);}
}


.mobile {display: none;}
@media screen and (max-width: 1150px) {
    #logo, #scrolltotop, #lightmode {position: absolute;}
    #innerbody {position: relative;}
    html:not(.posts) .scrolled #lightmode {left: 30px; right: auto; opacity: 1; pointer-events: all;}
    .large {font-size: 80px;} /*  0.10*1600  */
    .portfolios h1 {margin: 0;}
    .posts .fullscreen h1 {margin: 0; padding: 2.5em 0 2.7em!important;}
    #nextlink .mobile {display: inline;}
    #nextlink .desktop {display: none;}
}
@media screen and (max-width: 828px) {
    #content {width: calc(100% - 60px);}
}
@media screen and (max-width: 750px) {
    .threecols > div .medium {font-size: 60px!important;}
    #bananaleft, #bananaright {display: none;}

    #content .fullscreen {min-height: 0;}
    .lightmode:not(.bgcolor) #scrolldown::before,
    #scrolldown::before, span.smallmedium, #scrolldown {color: transparent;}
    .posts .fullscreen h1 {padding: 4.5em 0 3em!important;}
    #content h1, .posts .fullscreen h1, p {text-align: left!important; width: 100%;}
    html.home #content h1, html.home p {text-align: center!important;} 
    #content .fullscreen > a {margin: 14rem 0 8rem;}
    #content {padding-bottom: 13rem;}
    #content em {transform-origin: left center;}
}

@media screen and (max-width: 500px) {
    body, .small {font-size: 18px;} /*  0.015*1600  */
    .posts #content > p:first-of-type, blockquote, .smallmedium {font-size: 24px;} /*  0.021*1600  */
    blockquote {padding-left: 24px;}
    .medium, h1 {font-size: 55px;} /*  0.05*1600  */
    .large {font-size: 55px;} /*  0.1*1600  */
    .threecols > div .medium {font-size: 40px!important;}

    #content {padding-left: 15px; padding-right: 15px; width: calc(100% - 30px);}
    #logo, #nextlink {left: 15px;}
    #scrolltotop, #lightmode {right: 15px;}
    html:not(.posts) .scrolled #lightmode {left: 15px; right: auto;}
    #menu {right: 15px; z-index: 20;}

    #content ul {margin-left: 1.2em}
    #content ol {margin-left: 1.2em;}
    #scrolldown:before {font-size: 5rem; margin-top: -2.5rem; margin-left: -0.6rem;}
}




#lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,1); z-index: 9999999; line-height: 0; cursor: pointer; display: none;}
#lightbox .img {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
#lightbox .img img {opacity: 0; pointer-events: none; width: auto;}
@media screen and (min-width: 1200px) {
    #lightbox .img {
        max-width: 1200px;
    }
}
@media screen and (min-height: 1200px) {
    #lightbox .img {
        max-height: 1200px;
    }
}
#lightbox span {display: block; position: fixed; bottom: 13px; height: 1.5em; line-height: 1.4em; width: 100%; text-align: center; color: white; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#lightbox span {display: none;}

#lightbox .videoWrapperContainer {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 900px;
    max-height: 100%;
}
#lightbox .videoWrapperContainer .videoWrapper {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 56.333%; /* custom */
    background: black;
} 
#lightbox .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}   
#lightbox #prev, #lightbox #next {height: 50px; line-height: 36px; display: none; margin-top: -25px; position: fixed; top: 50%; padding: 0 15px; cursor: pointer; text-decoration: none; z-index: 99; color: white; font-size: 60px;}
#lightbox.gallery #prev, #lightbox.gallery #next {display: block;}
#lightbox #prev {left: 0;}
#lightbox #next {right: 0;}
#lightbox #close {height: 50px; width: 50px; position: fixed; cursor: pointer; text-decoration: none; z-index: 99; right: 0; top: 0;}
#lightbox #close:after, #lightbox #close:before {position: absolute; margin-top: 22px; margin-left: 14px; content: ""; height: 3px; background: white; width: 23px;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
}
#lightbox #close:after {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
}
#lightbox, #lightbox * {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.bgcolor #lightmode {pointer-events: none!important; opacity: 0!important;}
.lightmode #lightmode {color: #7600ee;}

#lightmode::before {content: "ouch, my eyes!";}
.lightmode #lightmode::before {content: "want it darker?";}
.darkmode #lightmode::before {content: "feeling blue?";}

html.nl #lightmode::before {content: "auw, mijn ogen!";}
html.nl.lightmode #lightmode::before {content: "donker graag!";}
html.nl.darkmode #lightmode::before {content: "helemaal blauw?";}

html.lightmode:not(.bgcolor) p img {mix-blend-mode: multiply;}
html.darkmode:not(.bgcolor) p img {filter: grayscale(100%) contrast(0.6) brightness(1.2); mix-blend-mode: hard-light; opacity: 0.7!important;}
html.darkmode:not(.bgcolor) #logo img {filter: grayscale(100%) contrast(125%) brightness(120%);}
html.darkmode:not(.bgcolor) a.video::after,
html.darkmode:not(.bgcolor) a.video::before {background: #30353b;}
html.darkmode:not(.bgcolor) #innerbody {background-color: #30353b;}

html.lightmode #splash {background: #0000dd url(/img/bgsquares.svg);}
html.darkmode #splash {background: #30353b url(/img/bgsquares_dark.svg);}

