* {padding: 0; margin: 0; font-family: sans-serif; font-size: 18px; line-height: 1.4em; color: #222;}


@font-face {
    font-family: 'coderingRegular';
    src: url('codering-webfont.eot');
    src: url('codering-webfont.eot?#iefix') format('embedded-opentype'),
         url('codering-webfont.woff') format('woff'),
         url('codering-webfont.ttf') format('truetype'),
         url('codering-webfont.svg#coderingRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.box_shadow {
  -webkit-box-shadow: 0px 0px 4px #777; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 0px 4px #777; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 4px #777; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}
.ring_shadow {
  -webkit-box-shadow: 0px 2px 3px #693b31; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 2px 3px #693b31; /* FF3.5 - 3.6 */
          box-shadow: 0px 2px 3px #693b31; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}

body {
background: #fff;
}
#page {
margin: 20px auto 20px;
width: 800px;
height: 730px;
background: #fff url(tno_inside.gif) center 685px no-repeat;
}
#hand {
width: 800px;
height: 730px;
background: url('els.jpg') 240px bottom no-repeat;
}
h1 {
margin: 5px auto;
width: 800px;
font-size: 30px; 
font-weight: normal; 
color: silver;
}
form{
position: absolute;
margin: 126px 0 0 -16px;
padding: 4px 20px 20px 16px;
background: #e3e3e3;
width: 174px;
  -webkit-border-radius: 12px 12px 12px 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 12px 12px 12px 12px; /* FF1-3.6 */
          border-radius: 12px 12px 12px 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

  -webkit-box-shadow: 0px 0px 4px #555; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 0px 4px #555; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 4px #555; /* Opera 10.5, IE9, FF4+, Chrome 10+ */

}
label {
clear: both;
display: block;
padding-top: 10px;
cursor: pointer;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
label img {
vertical-align: middle;
position: relative;
bottom: 2px;
}
select {float: left; width: 124px; padding: 2px 2px 2px 0;}
select, option {
font-size: 14px;
}
input {
width: 174px;
}
#ring {
position: absolute;
margin-left: 370px;
width: 76px;
}
#ring img {display: block; border-bottom: 1px solid #666; height: 2px;}
#ring #text {
font-family: 'coderingRegular'; 
top:0px;
position: absolute; 
width: 76px; 
overflow: hidden; 
height: 1.4em; 
color: #555;
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  opacity: .8;
direction: rtl;
}
.scrollButton {
font-size: 13px;
float: left; 
width: 25px;
line-height: 1.5em;
position: relative;
bottom: 1px;
}