{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<p style="text-align: center;">
    {{ range $index, $value := (where .Site.RegularPages "Section" "posts") }}
        {{ if ne $index 0 }}<br /><br />{{ end }}
        <span class="smallmedium" style="position: relative; bottom: 0.5em;">{{ if ne $index 0 }}~{{ end }}</span>
        <br />
        <em style="display: inline-block; transform: scale(0.85); position: relative; bottom: 0.05em;">
            {{ $value.Date | time.Format ":date_long" }} </em><br />
        <a href="{{ .RelPermalink }}" class="smallmedium">{{ $value.Title | safeHTML }}</a>
    {{ end }}
</p>

{{ partial "footer.html" . }}
