{{ partial "header.html" . }}

<div class="fullscreen">
    <h1 class="large">
        <div id="postdate" class="small">
            {{ .Date | time.Format ":date_long" }} 
        </div>
        {{ .Title | safeHTML }}
    </h1>
</div>
<div id="scrolldown"></div>

{{ .Content }}

{{ partial "signature.html" . }}


{{ partial "footer.html" . }}