

            {{ if or (eq .Section "portfolios") (eq .Section "posts") }}
                {{ if eq .Section "portfolios" }}
                    {{ $.Scratch.Set "loopitems" (sort (where .Site.RegularPages "Section" "portfolios") ".Params.order" "asc") }}
                {{ else }}
                    {{ $.Scratch.Set "loopitems" (where .Site.RegularPages "Section" "posts") }}
                {{ end }}

                {{ if ($.Scratch.Get "loopitems").Prev . }}
                    {{ with ($.Scratch.Get "loopitems").Prev . }}
                        {{ $.Scratch.Set "prevRelPermalink" .RelPermalink }}
                        {{ $.Scratch.Set "prevTitle" .Title }}
                    {{ end }}
                {{ else }}
                    {{ with (index ($.Scratch.Get "loopitems") 0) }}
                        {{ $.Scratch.Set "prevRelPermalink" .RelPermalink }}
                        {{ $.Scratch.Set "prevTitle" .Title }}
                    {{ end }}
                {{ end }}
            
                {{ if ($.Scratch.Get "loopitems").Next . }}
                    {{ with ($.Scratch.Get "loopitems").Next . }}
                        {{ $.Scratch.Set "nextRelPermalink" .RelPermalink }}
                        {{ $.Scratch.Set "nextTitle" .Title }}
                    {{ end }}
                {{ else }}
                    {{ with (index ($.Scratch.Get "loopitems") (sub (len ($.Scratch.Get "loopitems")) 1)) }}
                        {{ $.Scratch.Set "nextRelPermalink" .RelPermalink }}
                        {{ $.Scratch.Set "nextTitle" .Title }}
                    {{ end }}
                {{ end }}
                {{ if ne .File.BaseFileName `_index` }}
                <a id="nextlink" href="{{ $.Scratch.Get "prevRelPermalink" }}">{{ i18n "next" }}<span class="desktop">: {{ $.Scratch.Get "prevTitle" | safeHTML }}</span><span class="mobile"> {{ if eq .Section "portfolios" }}portfolio item{{ else }}blog post{{ end }}</span></a>
                <a id="nextlinktop" href="{{ $.Scratch.Get "prevRelPermalink" }}">{{ i18n "next" }} {{ if eq .Section "portfolios" }}item{{ else }}post{{ end }}</a>
                <a id="prevlink" href="{{ $.Scratch.Get "nextRelPermalink" }}">{{ i18n "previous" }}<span class="desktop">: {{ $.Scratch.Get "nextTitle" | safeHTML }}</span><span class="mobile"> {{ if eq .Section "portfolios" }}portfolio item{{ else }}blog post{{ end }}</span></a>
                <a id="prevlinktop" href="{{ $.Scratch.Get "nextRelPermalink" }}">{{ i18n "previous" }} {{ if eq .Section "portfolios" }}item{{ else }}post{{ end }}</a>
                {{ end }}
            {{ end }}

            <a id="scrolltotop" href="#top">{{ i18n "scroll_to_top" }}</a>
            <a id="lightmode" href="#" onclick="toggleLightmode()" title="{{ i18n "change_color" }}"></a>
        </div>
    </div>

    <div id="lightbox"></div>
    <script src="/js/javascript.js"></script>
    <script src="/js/lightbox.js "></script>
    <script src="/js/detectscroll.js"></script>
    <script src="/js/newwindowfix.js"></script>

    <!-- Conversejs client CHAT : -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.conversejs.org/9.1.1/dist/converse.min.css">
    <script src="https://cdn.conversejs.org/9.1.1/dist/converse.min.js" charset="utf-8"></script>
    <script>
     setTimeout(()=> {
	 converse.initialize({
	     bosh_service_url: 'https://librebits.info:5281/http-bind',
	     // CORS \!/ error ? <-> https://conversejs.org/docs/html/setup.html#configuring-your-webserver-for-bosh
	     show_controlbox_by_default: false,
	     allow_bookmarks: false,
	     allow_logout: false,
	     // init autologin
	     // authentication: 'login',
	     auto_login: true,
	     auto_join_rooms: [{ 'jid': 'chat-librehelpdesk@groups.librebits.info', 'minimized': false }],
	     
	     /* auto_join_rooms: [{
	      *     'jid': 'hall@librebits.info', 'nick': 'ConverseBot', 'minimized': false
	      * }],  
	      *  *///     auto_join_private_chats: ['visitor@soul2vision.com',],
	     jid: 'libreconverse@librebits.info',
	     password: 'C0nv3rs3',
	     nickname: 'visitor',
	     // end autologin
	     hide_muc_participants: true,
	     message_archiving: "never",
	     muc_show_logs_before_join: true,

	     
	     blacklisted_plugins: [
     		 'converse-controlbox',
     		 'converse-bookmarks'
	     ]
	 });
     }, 10000);
    </script>
    
    
</body>

</html>
