<style>
    #bot {display: inline-block; user-select: none; vertical-align: top; cursor: pointer;}
    #bot > span {position: relative; top: auto; bottom: auto;}
    #bot > span > span {position: relative; display: inline-block; width: 0.5em; text-align: center;}
    #bot > span > span.eye::before {content: "•"; }
    #bot > span > span#mouth::before {position: relative; content: "_"; display: inline-block;}
    
    #bot.laugh > span > span.eye::before {content: "^"!important;}
    #bot.laugh > span > span#mouth::before {
      transform: none!important; 
      bottom: 0!imporant; 
      right: 0!imporant;
    }
    #bot.blink > span > span.eye::before {content: "-";}
    #bot.wink > span > span#lefteye::before {content: "-";}
    #bot.meh > span > span#mouth::before {transform: rotate(-7deg); bottom: 0.05em; right: 0.05rem;}
</style>

<p><span id="bot" onclick="window.location.href='{{ if eq .Language `nl` }}/over/{{ else }}/about/{{ end }}'">(<span id="head"><span class="eye" id="lefteye"></span><span id="mouth"></span><span class="eye" id="righteye"></span></span>)</span>&nbsp; <em>Joost van der Schee</em></p>

<script>
window.relX = 0;
window.relY = 0;
setInterval(wink,12000);
setInterval(blink,10000);
setInterval(blink,27000);

function blink() {
  document.querySelector('#bot').classList.add('blink');
  setTimeout(function() {
    document.querySelector('#bot').classList.remove('blink');
  },100);
}

function wink() {
  if(Math.abs(window.relX)<0.3 && Math.abs(window.relY)<0.3) {
    document.querySelector('#bot').classList.add('wink');
    setTimeout(function() {
      document.querySelector('#bot').classList.remove('wink');
    },300);
  }
}

onmousemove = function(e){
  var posX = document.getElementById('bot').getBoundingClientRect().left;
  var posY = document.getElementById('bot').getBoundingClientRect().top;  
  if(e.x < posX) window.relX = ((posX - e.x)/posX).toFixed(2);
  if(e.x > posX) window.relX = ((posX - e.x)/(window.innerWidth - posX)).toFixed(2);
  if(e.y < posY) window.relY = ((posY - e.y)/posY).toFixed(2);
  if(e.y > posY) window.relY = ((posY - e.y)/(window.innerHeight - posY)).toFixed(2);
  if(relY>0)document.getElementById('head').style.bottom = window.relY*0.3+'em';
  if(relY<0)document.getElementById('head').style.bottom = window.relY*0.25+'em';
  document.getElementById('head').style.marginLeft = (-1*window.relX*0.2)+'em';
  document.getElementById('head').style.marginRight = window.relX*0.2+'em';
}
onmousedown = function(e){
  document.querySelector('#bot').classList.add('meh');
}
onmouseup = function(e){
  document.querySelector('#bot').classList.remove('meh');
}

document.querySelector('#bot').addEventListener('mouseover', function() {
  this.classList.add('laugh');
});
document.querySelector('#bot').addEventListener('mouseleave', function() {
  this.classList.remove('laugh');
});
</script>