/* Demo CSS - You do not need this css in your own slider */

* {margin: 0; padding: 0;}
body, html {overflow: hidden; height: 100%;}
body{
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
	background: #555;
}
img {border: 0;}
pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#container{
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}
ol.bjqs-markers {
text-align: left;
position: absolute;
top: 0;
margin: 5px 0 0 5px;
}
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:transparent;
	color:#fff;
	margin:5px;
	text-decoration: none;
	overflow: hidden;
	padding: 0;
	border-radius: 10px;
	border: 1px solid #000;
	padding-left: 15px;
	padding-top: 15px;
	width: 0px;
	height: 0px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #000;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}